<!-- <app-credentials-component [username]="username"></app-credentials-component> -->

<h1 mat-dialog-title>{{device.serialNumber}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Username" [formControl]="usernameFormControl" required>
    <mat-error *ngIf="usernameFormControl.hasError('required')">
      Username is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl" required>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="showError">
      {{ errorMessage }}
    </mat-error>
</div>
<div mat-dialog-actions>
  <button mat-icon-button (click)="onCancel()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button [disabled]="usernameFormControl.hasError('required')||passwordFormControl.hasError('required')" (click)="onSave()">
    <mat-icon>save</mat-icon>
  </button>
</div>
